/*MOstrar los valores introducidos por input en mayuscula*/

.mayuscula{
  text-transform:uppercase;
}

/*Estilos para la ventana modal CSS*/

.pdfobject-container { 
	height: 40rem; 
	border: 1rem solid rgba(0,0,0,.1); 
}

#btnCerrarResultadosPDF {
	margin: 5px;
	display: block;
}

#cancel {
	margin: 5px;
	display: block;
}

.cargando {
	position: absolute;
	width: 30px;
	right: -40px;
	top: -2px;
}

.hide {
	display: none;
}

.error {

	color: #dc3545 !important;
	font-weight: 400 !important;
	
}

thead {
	padding: 5px;
	font-size: 16px;
	background: linear-gradient(to right, #39cccc, #17a2b8, #3d9970);
	color: #FFFFFF;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #558FA6;
	border-bottom-color: #558FA6;
}

.table-hover tbody tr:hover {
    background-color: rgba(23, 162, 184, 0.075) !important;
}
.mensaje{
	font-size: x-small;
	position:absolute;
	width:150px;
	color: #ffffff;
	padding: 5px;
	background-color:#17a2b8; 
	visibility:hidden;
	z-index:10;
	border: 1px solid #334046;
	border-radius: 5px 30px;
}


.seguimiento {
	color: #075205;
	border-color: #06160b;
  }
  
.seguimiento:hover {
	color: #45ad4e;
	background-color: #7e8f83;
	border-color: #011304;
}

.formularioBajasExterno{
	padding-left: 50px;
}

.flex-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
.flex-childrem{
	border-left: solid 5px #17a2b8;
}

.textReportes{
	text-align: center;
	/* background-color: aliceblue; */
	background: linear-gradient(to bottom, #17a2b8, white);
	
}

.bg-faltaPublicar{
	background: linear-gradient(to bottom, #a2c8df, white);
	/* background: linear-gradient(to bottom, #2ab817, white); */
}

.label {
	color: white;
	padding: 2px;
	border-radius: 5%;
  }
  
  .success {background-color: #04AA6D;} /* Green */
  /* .info {background-color: #2196F3;}  *//* Blue */
  .warning {background-color: #ff9800;} /* Orange */
  .danger {background-color: #f44336;} /* Red */
  .other {background-color: #e7e7e7; color: black;} /* Gray */

/* WIDGETS */
.widget {
  border-radius: 5px;
  padding: 15px 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.widget.style1 h2 {
  font-size: 30px;
}
.widget h2,
.widget h3 {
  margin-top: 5px;
  margin-bottom: 0;
}
.widget-text-box {
  padding: 20px;
  border: 1px solid #e7eaec;
  background: #ffffff;
}
.widget-head-color-box {
  border-radius: 5px 5px 0 0;
  margin-top: 10px;
}
.widget .flot-chart {
  height: 100px;
}

/* BACKGROUNDS */
.gray-bg,
.bg-muted {
  background-color: #f3f3f4;
}
.white-bg {
  background-color: #ffffff;
}
.blue-bg{
  background-color: #1c84c6 !important;
  color: #ffffff;
}
.green-bg{
  background-color: #548235 !important;
  color: #ffffff;
}
.lazur-bg{
  background-color: #00B0F0 !important;
  color: #ffffff;
}
.yellow-bg{
  background-color: #FFC000 !important;
  color: #ffffff;
}
.purple-bg{
  background-color: #7030A0 !important;
  color: #ffffff;
}
.black-bg {
  background-color: #262626;
}
.green2-bg {
  background-color: #92D050 !important;
  color: #ffffff;
}
.red-bg {
	background-color: #FF0000 !important;
  	color: #ffffff;	
}
.border-bg-info {
	border-radius: 5px; 
	padding: 5px 10px 5px 10px; 
	margin-bottom: 5px; 
	margin-top: 5px;
}
.content{
	background-color: whitesmoke;
}
.situacionalInfo{
	background-color: whitesmoke;
}
.valido{
	background-color: initial !important;
}

